In [1]:
from ldlink import LDlink

In [2]:
api = LDlink(token='sometoken')

In [3]:
res = api.ldproxy(var='rs3', pop='CEU')
res

,RS_Number,Coord,Alleles,MAF,Distance,Dprime,R2,Correlated_Alleles,RegulomeDB,Function
0,rs3,chr13:32446842,(C/T),0.0758,0,1.0000,1.0000,"C=C,T=T",6,NaN
1,rs4,chr13:32447222,(A/G),0.0758,380,1.0000,1.0000,"C=A,T=G",6,NaN
2,rs346,chr13:32448574,(G/T),0.0758,1732,1.0000,1.0000,"C=G,T=T",5,NaN
3,rs496202,chr13:32444611,(G/C),0.0758,-2231,1.0000,1.0000,"C=G,T=C",7,NaN
4,rs495325,chr13:32444533,(G/A),0.0758,-2309,1.0000,1.0000,"C=G,T=A",7,NaN
...,...,...,...,...,...,...,...,...,...,...
1222,rs17077179,chr13:32747654,(C/A),0.0960,300812,0.1151,0.0102,NaN,6,"synonymous,missense"
1223,rs55659531,chr13:32747731,(T/-),0.0960,300889,0.1151,0.0102,NaN,.,NaN
1224,rs58748973,chr13:32748095,(G/A),0.0960,301253,0.1151,0.0102,NaN,5,NaN
1225,rs17077182,chr13:32748447,(T/C),0.0960,301605,0.1151,0.0102,NaN,7,NaN
1226,rs67058171,chr13:32748705,(G/A),0.0960,301863,0.1151,0.0102,NaN,7,NaN

In [4]:
freq, haplo = api.ldhap(snps=['rs3', 'rs4'], pop='ALL')

In [5]:
freq

  RS_Number Position (hg19)  Allele Frequency
0       rs3  chr13:32446842  C=0.905, T=0.095
1       rs4  chr13:32447222  A=0.906, G=0.094

In [6]:
resp = api.ldmatrix(snps=['rs3', 'rs4', 'rs148890987'], pop='CEU')
resp

     RS_number  rs148890987    rs3    rs4
0  rs148890987        1.000  0.409  0.409
1          rs3        0.409  1.000  1.000
2          rs4        0.409  1.000  1.000

In [7]:
resp = api.ldmatrix(snps=['rs3', 'rs4', 'rs148890987'], pop='CEU', method='post')
resp

     RS_number  rs148890987    rs3    rs4
0  rs148890987        1.000  0.409  0.409
1          rs3        0.409  1.000  1.000
2          rs4        0.409  1.000  1.000

In [8]:
resp = api.ldpair(var1='rs3', var2='rs4', pop='CEU')
print(resp)

Query SNPs:
rs3 (chr13:32446842)
rs4 (chr13:32447222)

CEU Haplotypes:
               rs4
               A       G
             -----------------
           C | 183   | 0     | 183   (0.924)
rs3          -----------------
           T | 0     | 15    | 15    (0.076)
             -----------------
               183     15      198
              (0.924) (0.076)

          C_A: 183 (0.924)
          T_G: 15 (0.076)
          C_G: 0 (0.0)
          T_A: 0 (0.0)

          D': 1.0
          R2: 1.0
      Chi-sq: 198.0
     p-value: <0.0001

rs3(C) allele is correlated with rs4(A) allele
rs3(T) allele is correlated with rs4(G) allele

In [9]:
resp = api.ldpop(var1='rs3', var2='rs4', pop='CEU')
resp

,Population,Abbrev,N,rs3 Allele Freq,rs4 Allele Freq,R2,D',Chisq,P
0,Utah Residents (CEPH) with Northern and Wester...,CEU,99,"C: 92.42%, T: 7.58%","A: 92.42%, G: 7.58%",1.0,1.0,198.0,0.0

In [10]:
resp = api.ldtrait(snps=['rs9834970', 'rs4'])

In [11]:
resp

,Query,GWAS Trait,RS Number,Position (GRCh37),Alleles,R2,D',Risk Allele,Effect Size (95% CI),Beta or OR,P-value
0,rs9834970,"Autism spectrum disorder, attention deficit-hy...",rs13072940,chr3:36842623,"A=0.328, T=0.672",0.641747,0.973512,NaN,1.060000,1.03-1.08,9.000000e-06
1,rs9834970,Psychiatric diseases (pleiotropy) (HIPO compon...,rs13072940,chr3:36842623,"A=0.328, T=0.672",0.641747,0.973512,NR,NaN,NaN,2.000000e-08
2,rs9834970,"Cognitive ability, years of educational attain...",rs4678552,chr3:36844522,"A=0.414, G=0.586",0.510195,1.000000,NR,0.015579,0.011-0.02,2.000000e-13
3,rs9834970,Bipolar disorder,rs9834970,chr3:36856030,"C=0.581, T=0.419",1.000000,1.000000,NR,NaN,NaN,1.000000e-12
4,rs9834970,"Autism spectrum disorder, attention deficit-hy...",rs9834970,chr3:36856030,"C=0.581, T=0.419",1.000000,1.000000,NR,1.051000,1.03-1.07,2.000000e-06
5,rs9834970,Bipolar disorder with mood-incongruent psychosis,rs9834970,chr3:36856030,"C=0.581, T=0.419",1.000000,1.000000,NR,1.220000,NaN,1.000000e-07
6,rs9834970,Schizophrenia or bipolar disorder,rs9834970,chr3:36856030,"C=0.581, T=0.419",1.000000,1.000000,NR,NaN,NaN,4.000000e-07
7,rs9834970,Schizophrenia or bipolar disorder,rs9834970,chr3:36856030,"C=0.581, T=0.419",1.000000,1.000000,NaN,NaN,NaN,1.000000e-10
8,rs9834970,Bipolar disorder,rs9834970,chr3:36856030,"C=0.581, T=0.419",1.000000,1.000000,NR,1.110000,NaN,2.000000e-10
9,rs9834970,Bipolar disorder,rs9834970,chr3:36856030,"C=0.581, T=0.419",1.000000,1.000000,0.5,1.140000,1.09-1.18,5.000000e-10
10,rs9834970,Bipolar disorder,rs9834970,chr3:36856030,"C=0.581, T=0.419",1.000000,1.000000,NR,1.115540,1.07634-1.15616,2.000000e-09
11,rs9834970,Subjective response to lithium treatment,rs9834970,chr3:36856030,"C=0.581, T=0.419",1.000000,1.000000,0.5,1.220000,NaN,8.000000e-07
12,rs9834970,Bipolar disorder,rs9834970,chr3:36856030,"C=0.581, T=0.419",1.000000,1.000000,0.491,1.080369,NaN,6.000000e-12
13,rs9834970,Bipolar I disorder,rs9834970,chr3:36856030,"C=0.581, T=0.419",1.000000,1.000000,0.491,1.121315,NaN,4.000000e-14
14,rs9834970,"anorexia nervosa, attention-deficit/hyperactiv...",rs9834970,chr3:36856030,"C=0.581, T=0.419",1.000000,1.000000,NaN,NaN,NaN,2.000000e-17
15,rs9834970,Schizophrenia,rs75968099,chr3:36858583,"C=0.571, T=0.429",0.512855,0.971935,0.324,1.085000,1.062-1.109,1.000000e-13
16,rs9834970,Autism spectrum disorder or schizophrenia,rs75968099,chr3:36858583,"C=0.571, T=0.429",0.512855,0.971935,NaN,1.070000,1.05-1.09,1.000000e-11
17,rs9834970,Schizophrenia,rs75968099,chr3:36858583,"C=0.571, T=0.429",0.512855,0.971935,NR,1.080000,NaN,2.000000e-12
18,rs9834970,Schizophrenia,rs75968099,chr3:36858583,"C=0.571, T=0.429",0.512855,0.971935,NR,NaN,NaN,2.000000e-13
19,rs9834970,Schizophrenia,rs75968099,chr3:36858583,"C=0.571, T=0.429",0.512855,0.971935,NR,1.068376,1.05-1.09,9.000000e-11
20,rs9834970,Schizophrenia,rs75968099,chr3:36858583,"C=0.571, T=0.429",0.512855,0.971935,NR,1.083424,1.06-1.11,2.000000e-12
21,rs9834970,Schizophrenia,rs4624519,chr3:36862980,"C=0.561, T=0.439",0.476448,0.917740,NR,1.090000,1.05-1.12,2.000000e-07
22,rs9834970,Takayasu arteritis,rs9917659,chr3:36864160,"A=0.798, G=0.202",0.321223,0.956957,0.64,1.562500,1.3-1.89,5.000000e-06
23,rs9834970,Schizophrenia,rs6550435,chr3:36864489,"G=0.439, T=0.561",0.476448,0.917740,0.344,1.080000,1.05-1.11,6.000000e-08
24,rs9834970,Bipolar disorder,rs6550435,chr3:36864489,"G=0.439, T=0.561",0.476448,0.917740,NR,1.090000,NaN,9.000000e-06
25,rs9834970,Bipolar disorder,rs6550435,chr3:36864489,"G=0.439, T=0.561",0.476448,0.917740,NR,1.130000,NaN,2.000000e-08
26,rs9834970,Schizophrenia,rs3732386,chr3:36871993,"C=0.556, T=0.444",0.458963,0.891566,NR,1.073260,1.05-1.09,3.000000e-11
27,rs9834970,Schizophrenia,rs3732386,chr3:36871993,"C=0.556, T=0.444",0.458963,0.891566,NR,1.075000,1.05-1.1,3.000000e-11
28,rs9834970,Schizophrenia,rs3732386,chr3:36871993,"C=0.556, T=0.444",0.458963,0.891566,NR,1.074000,1.05-1.1,4.000000e-11
29,rs9834970,Interleukin-1-receptor antagonist levels,rs4441609,chr3:36892717,"C=0.682, T=0.318",0.611728,0.972671,NaN,0.103900,0.058-0.149,8.000000e-06
30,rs9834970,Educational attainment (years of education),rs4328757,chr3:36938180,"C=0.328, T=0.672",0.573802,0.920535,0.6119,0.009600,0.0069-0.0123,3.000000e-11
31,rs9834970,Educational attainment (MTAG),rs4328757,chr3:36938180,"C=0.328, T=0.672",0.573802,0.920535,0.6119,0.008600,0.0061-0.0111,1.000000e-10
32,rs9834970,Iris color (L* coordinate),rs4425211,chr3:36951898,"A=0.495, G=0.505",0.260253,0.594458,0.0715643,0.676012,0.39-0.97,7.000000e-06
33,rs9834970,Pulse pressure,rs4678915,chr3:36964583,"A=0.535, G=0.465",0.316993,0.617413,0.4328,0.138600,0.1-0.17,6.000000e-15
34,rs9834970,Hypothyroidism,rs11926768,chr3:36968347,"C=0.525, T=0.475",0.130083,0.403614,NR,NaN,NaN,8.000000e-09
35,rs9834970,HDL cholesterol,rs6777217,chr3:36979042,"A=0.369, G=0.631",0.187300,0.481120,0.4746,0.012900,0.0092-0.0166−1,3.000000e-12
36,rs9834970,Triglycerides,rs6777217,chr3:36979042,"A=0.369, G=0.631",0.187300,0.481120,0.4742,0.010100,0.0066-0.0136−1,5.000000e-08
37,rs9834970,C-reactive protein levels,rs4431051,chr3:36992405,"C=0.47, T=0.53",0.136508,0.409294,NR,0.012675,0.0088-0.0165,5.000000e-08
38,rs9834970,Height,rs4678938,chr3:37181015,"C=0.556, G=0.444",0.139178,0.392771,NR,NaN,NaN,2.000000e-12
39,rs9834970,Adolescent idiopathic scoliosis,rs6786857,chr3:37205015,"C=0.455, T=0.545",0.126069,0.381526,NR,NaN,NaN,5.000000e-06
40,rs9834970,Cerebrospinal P-tau181p levels,rs7631605,chr3:37234589,"C=0.429, T=0.571",0.114574,0.345559,NR,NaN,NaN,1.000000e-06

In [12]:
resp = api.snpclip(snps=['rs3', 'rs4'])
resp

,RS Number,Position,Alleles,Details
0,rs3,chr13:32446842,"C=0.924, T=0.076",Variant kept.
1,rs4,chr13:32447222,"A=0.924, G=0.076","Variant in LD with rs3 (R2=1.0), variant removed."

In [13]:
resp = api.snpchip(snps=['rs3', 'rs4'], platforms=['A_10X', 'A_250N', 'A_250S'])
resp

,RS Number,Position (GRCh37),Arrays
0,rs3,13:32446842,NaN
1,rs4,13:32447222,Affymetrix Mapping 250K Sty
2,WARNING: The following RS number did not have ...,NaN,NaN